[S3E]
MemSize=104857600
#WinWidth=768
#WinHeight=1024
[SOUND]
MaxChannels=16
[GX]
Rasterisation=HW
DataCacheSize=307200
VertCacheSize=51200
UnIndexedStreamMax=25600

[GXFONT]
CacheTextureMaxSize=512
[GL]
#VirtualWidth=768
#VirtualHeight=1024
#VirtualLetterbox=1
